.main-color{
    background-color: #C5CFEB;
}
.second-color{
    background-color: #8B9CD4;
}
.button-color{
    background-color: #A7B5D4;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
}
.margin-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    text-align: justify;
}
